div {
    background-color: #fff;
    width: 100vw;
    padding: 1vh 0;
    box-shadow: 2px 2px 2px #7B7A72;
}

h1 {
    color: #DE2C30;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100px;
    text-align: center;
    text-transform: uppercase;
}
